@charset "utf-8";

@font-face {
    font-family: 'DO Futuristic';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/titres/DoFuturistic-JRwaB.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/paragraphes/Nunito-Light.ttf') format('truetype');
}

@media (min-width: 1201px) {
    header{
        font-size: 1.8rem;
    }

    .logo_gauche{
        width: 10rem;
        height: 10rem;
    }
    
    .logo_droite{
        width: 10rem;
        height: 10rem;
    }  

    section {
        margin-left: 18rem;
        margin-right: 18rem;
    }
}

@media (min-width: 851px) and (max-width: 1200px) {
    header{
        font-size: 1.5rem;
    }  

    .logo_gauche{
        width: 8rem;
        height: 8rem;
    }
    
    .logo_droite{
        width: 8rem;
        height: 8rem;
    }

    section {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

@media (max-width: 850px) {
    header{
        font-size: 1.2rem;
    }  

    .logo_gauche{
        width: 6rem;
        height: 6rem;
    }
    
    .logo_droite{
        width: 6rem;
        height: 6rem;
    }

    section {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

*{
    margin:0; 
    padding:0;
}

header {
    color:aliceblue;
    padding-top: 2rem;
    display: flex;
    background-color: #9BD4E6;
    width: 100%;
}

header div {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1, h2, h3{
    font-family: "DO Futuristic", sans-serif;
}

main{
    padding-top: 2rem;
    font-family: 'Nunito', sans-serif;
    background: url("../images/accueil_background.png");        
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: local;
}

section{
    display: flex;
}

main h1 {
    text-decoration: underline red;
    text-align: center;
}

main h2{
    padding-top: 2rem;
}

main p{
    padding: 1rem;
    font-size: 1.2rem;
    text-indent: 2rem;
}


nav {
    background-color: #d1001f;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem 0rem 1rem 0rem;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}



li a {
    display: inline-block;
    color:aliceblue;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

li a:hover {
    background-color: #111;
}

.ici {
    background-color: #111;
}

li {
    border-right: 1px solid #bbb;
}
  
li:last-child {
    border-right: none;
}

footer {
    background-color: #9BD4E6;
    text-align: center;
    padding: 0.5rem 1.5rem;
}