@charset "utf-8";

@font-face {
    font-family: 'DO Futuristic';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/titres/DoFuturistic-JRwaB.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/paragraphes/Nunito-Light.ttf') format('truetype');
}

*{
    margin:0; 
    padding:0;
}

header {
    position: sticky;
    top: 0px;
    color:aliceblue;
    padding-top: 2rem;
    display: flex;
    background-color: #9BD4E6;
    font-size: 1.8rem;
    width: 100%;
}

header div {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo_gauche{
    width: 9rem;
    height: 9rem;
}

.logo_droite{
    width: 9rem;
    height: 9rem;
}

h1, h2{
    font-family: "DO Futuristic", sans-serif;
}

main{
    padding-left: 5rem;
    font-family: 'Nunito', sans-serif;
    background: url("../images/accueil_background.png");        
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: local;
}

section{
    display: flex;
    padding-left: 13rem;
    padding-right: 18rem;
}

main h1 {
    text-decoration: underline red;
    text-align: center;
}

main h2{
    padding-top: 2rem;
}

main p{
    padding: 1rem;
    font-size: 1.2rem;
    text-indent: 2rem;
}


nav {
    background-color: #d1001f;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem 0rem 1rem 0rem;
}
/*
nav a {
	color: aliceblue;
	text-decoration: none;
	font-size: 2rem;
	font-weight : bold;
	background-color : #7D5593;
	border-radius : 1rem;
	padding: 0rem 4rem 0rem 4rem;
}

nav a:hover {
    color: rgb(216, 130, 9);
}

.ici {
    color: grey;
}
*/

nav  ul li { float:left; list-style: none; }
nav  ul ul {display:none; width:150px;}
nav  li {background:#CCCCCC;}
nav  li a {text-decoration: none; color: #000; padding: 4px 0 4px 0; display:block; width:10rem;}
nav  ul {text-align:center;}
nav  ul.niveau1 li.sousmenu:hover ul.niveau2{display:block;}
nav  li:hover {background: #EDD;}
nav  li.sousmenu:hover {background: #EBB;}

footer {
    background-color: #9BD4E6;
    text-align: center;
    padding: 0.5rem 1.5rem;
}