@charset "utf-8";

@font-face {
    font-family: 'DO Futuristic';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/titres/DoFuturistic-JRwaB.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src:  url('../fonts/paragraphes/Nunito-Light.ttf') format('truetype');
}

*{
    margin:0; 
    padding:0;
}

header {
    color:aliceblue;
    padding-top: 2rem;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 8fr 1fr;
    background-color: #9BD4E6;
    font-size: 1.8rem;
}

.logo_gauche{
    grid-column-start: 0;
    grid-row: 1/4;
    float: left;
    width: 9rem;
    height: 9rem;
}

.logo_droite{
    grid-column-start: 3;
    grid-row: 1/4;
    float: right;
    width: 9rem;
    height: 9rem;
}

h1, h2{
    font-family: "DO Futuristic", sans-serif;
}

main{
    padding-left: 1rem;
    font-family: 'Nunito', sans-serif;
    background: url("../images/accueil_background.png");        
    background-size: cover;
}

main h1 {
    text-decoration: underline red;
    text-align: center;
    padding-bottom: 2rem;
}

main p{
    padding: 1rem;
    font-size: 1.2rem;
    text-indent: 2rem;
}

nav {
    background-color: #d1001f;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 10px 60px;
	padding: 1rem 0rem 1rem 0rem;
}

nav a {
	color: aliceblue;
	text-decoration: none;
	font-size: 2rem;
	font-weight : bold;
	background-color : #7D5593;
	border-radius : 1rem;
	padding: 0rem 4rem 0rem 4rem;
}

nav a:hover {
    color: rgb(216, 130, 9);
}

.ici {
    color: grey;
}

footer {
    background-color: #9BD4E6;
    text-align: center;
    padding: 0.5rem 1.5rem;
}