main{
    padding-top: 2rem;
    font-family: 'Nunito', sans-serif;
    background: url("../images/accueil_background.png");        
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f3f0eb;
}

div{
    display: flex;
}

main h1 {
    text-decoration: underline red;
    text-align: center;
}

main h2{
    padding-top: 2rem;
}

main p{
    padding: 1rem;
    font-size: 1.2rem;
    text-indent: 2rem;
}